
.v-top {
    vertical-align: top;
}

@media screen and (min-width: 30em) {
    .pv6-ns {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }
}

@media screen and (min-width: 30em) and (max-width: 60em) {
    .pv5-m {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}

.avatar {
    width: 600px;
    height: auto;
}