
.v-top {
    vertical-align: top;
}

@media screen and (min-width: 30em) {
    .pv6-ns {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }
}

@media screen and (min-width: 30em) and (max-width: 60em) {
    .avatar{
        /* width: 30px; */
        /* height: 30px; */
    }
}
